div {
  background-color: darkcyan;
  padding: 10px;
}

.texto {
  color: white;
  font-size: 20px;
}

@media screen and (max-width: 480px) {
  div {
    background-color: darkred;
  }
}

#contenedor {
  width: 960px;
  margin: 0 auto;
}

#columna-izq {
  width: 700px;
  float: left;
  background: greenyellow;
}

#columna-der {
  width: 260px;
  float: left;
  background: coral;
}

@media screen and (max-width: 959px) {
  #contenedor {
    width: 100%;
  }
  #columna-izq {
    width: 70%;
  }
  #columna-der {
    width: 30%;
  }
  img {
    width: 100%;
  }
}

@media screen and (max-width: 740px) {
  #columna-izq {
    width: 100%;
  }
  #columna-der {
    width: 100%;
  }
}
