/* Fondos */

body {
  background: beige;
  background-image: url(images/texturaverde.jpg);
  background-attachment: fixed;
}

h1 {
  color: gold;
  font-size: 80px;
  text-align: center;
}

p {
  color: #f0ffff;
  font-size: 40px;
}

/* Imágenes */

/* .gatitos img{
  width: 480px;
  height: 300px;
  border: 3px red solid;
  padding: 20px;
}

.gatitos-juntitos img{
  margin-top: 60px;
  width: 480px;
  height: 300px;
  box-shadow: 10px 10px 15px slategray;
} */
