/* * {
  background: beige;
} */

body {
  background: beige;
}

/* ID */
#titulo {
  text-align: center;
  background: red;
  color: aliceblue;
}

#subtitulo {
  text-align: center;
  background: red;
  color: aliceblue;
}

#parrafo {
  font-size: 22px;
  background: blueviolet;
  color: white;
}

/* Clases */
.subtitulo {
  text-align: center;
  background: orange;
  color: bisque;
}

.parrafo {
  font-size: 23px;
  background: forestgreen;
  color: antiquewhite;
}

.titulo {
  text-align: center;
  background: red;
  color: white;
  font-size: 32px;
}

/* Selectores Combinados */
.clase-titulo,
.clase-parrafo {
  color: azure;
  background: orange;
}
