body {
  background: oklch(34.134% 0.00219 67.353);
  color: oklch(91.121% 0.03188 73.465);
}

a {
  color: oklch(0.7 0.1 72);
}

.name {
  color: oklch(0.7 0.1 72);
}

h1 {
  color: oklch(55.159% 0.25916 302.234);
}

.container {
  width: 200px;
  height: 200px;
  background: linear-gradient(
    in oklch -40deg,
    oklch(82.634% 0.06574 246.58) 0%,
    oklch(81.504% 0.13944 327.991) 100%
  );
}

.box {
  margin-top: 20px;
  width: 200px;
  height: 200px;
  background: linear-gradient(in oklch 40deg, #a4cbef 0%, #f3a1f0 100%);
}
