body {
  background: beige;
}

h1 {
  background: blue;
  color: white;
  font-size: 75px;
  text-align: center;
}

h1:first-child {
  background: black;
}

h1:last-child {
  background: black;
}

h1:nth-child(0n + 3) {
  background: black;
}

h1:nth-child(3n + 1) {
  background: goldenrod;
}

a {
  background-color: blue;
  color: white;
  text-align: center;
  font-size: 80px;
}

a:hover {
  background-color: orange;
  color: black;
}
