/* Selector Universal */
* {
  background: bisque;
}

/* Selector de Etiqueta */
h1 {
  background: red;
}

p {
  background: orange;
}

/* Selector Descendiente */
div p {
  background: violet;
}

/* Selector de Clase */
.titulo-uno {
  background: green;
}

/* Selector de ID */
#titulo-dos {
  background: hotpink;
}
